.cajaMainFormulario {
  display: flex;
  justify-content: flex-end; /* Asegura que el contenido se alinee a la derecha */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  position: fixed; /* Usa 'fixed' para posicionarlo relativo a la ventana */
  bottom: 150px;
  z-index: 1000;
}

.hamburger2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  background-color: #45b8ce;
  font-family: "Poppins", sans-serif;
  color: black;
  border-radius: 100px;
  position: absolute; /* Asegura que el ícono esté posicionado absolutamente dentro del contenedor */
  bottom: -70px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.cajaTitleReserva {
  font-size: 15px;
}

.hidenReserva {
  display: none;
  transition-delay: 1s;
}

.hamburger2:active {
  animation: jello-horizontal 0.5s both;
}

.menu-shownReserva, .menu-hiddenReserva {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100vw;
  height: 100%; /* Ajusta la altura para cubrir toda la ventana del navegador */
  background-color: #ffffff;
  position: fixed; /* Mantiene el menú en posición fija */
  top: 0; /* Alinea el menú con la parte superior de la ventana */
  right: 0; /* Alinea el menú con el lado derecho de la ventana */
  z-index: 1000;
  overflow: auto;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu-shownReserva {
  max-height: 100vh;
  opacity: 1;
  animation: slideIn 0.5s ease-in-out forwards;
}

.menu-hiddenReserva {
  max-height: 0;
  opacity: 0;
  animation: slideOut 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

/* Animación de entrada */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Animación de salida */
@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

/* Animación de jello */
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
